* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.strip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: #262626;
    color: white;
}