* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Libre Baskerville", serif;
}

.strip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: #262626;
    color: white;
}

/* hero section css starts here */

.name {
    font-size: 50px;
    color: transparent !important;
    -webkit-text-stroke: 1px rgb(25, 135, 84);
    position: relative;
}

.name::before {
    content: " Solomus Market";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: rgb(25, 135, 84);
    border-right: 3px solid rgb(25, 135, 84);
    transition: 0.3s ease-in-out;
}

.name:hover::before {
    width: 100%;
    padding-left: 12px;
    filter: drop-shadow(0 0 25px rgb(25, 135, 84));
}

/* hero section css ends here */

/* section1 css starts here */

.section1 {
    margin-top: 350px;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.section1::before {
    content: "";
    position: absolute;
    background: url('../images/section1/online-shoppping-1.jpg') no-repeat center center/cover;
    width: 90%;
    height: 90vh;
    z-index: -1;
    border-radius: 20px;
    border: 3px solid black;
    margin-top: 100px !important;
    opacity: 0.9;
}

@media (max-width:550px) {
    .section1 {
        margin-top: 100px;
    }

    .csection1 {
        padding-top: 100px;
    }

    .section1::before {
        height: 50vh;
    }

    .section2 {
        margin-top: 170px !important;
    }

    /* section 3 css starts */

    .section3-text1,
    .section3-text2 {
        font-size: 20px !important;
    }

    /* section 3 css ends */
}


.csection1 {
    display: flex row;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    flex-wrap: wrap;
    transition: all 0.5 ease-in-out;
}

.glamorous {
    color: transparent !important;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    position: relative;
}


.glamorous::before {
    content: "Glamorous";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

.glamorous:hover::before {
    width: 100%;
    padding-left: 9px;
    filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}

.glam {
    color: transparent !important;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    position: relative;
}


.glam::before {
    content: "Glam";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

.glam:hover::before {
    width: 100%;
    padding-left: 9px;
    filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}

/* section1 css ends here */

/* section2 css starts here */

.section2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 450px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    padding: 10px 32px;
    margin-bottom: 20px;

}

.child-section2 {
    margin: 15px;
    width: 180px;
    text-align: center;
}

.child-section2:hover {
    color: rgb(25, 135, 84);
}

/* section2 css ends here */

/* section3 css starts here */

.section3-text1 {
    background-image: linear-gradient(43deg, #FFCC70 00%, #C840C0 46%, #4158D0 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 42px;
    font-weight: 700 !important;
}

/* section3 css ends here */