* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'SF Pro Display', sans-serif;
}

.strip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: #262626;
    color: white;
}

/* hero section css starts here */

.name {
    font-size: 50px;
    color: transparent !important;
    -webkit-text-stroke: 1px rgb(25, 135, 84);
    position: relative;
}

.name::before {
    content: " Solomus Market";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: rgb(25, 135, 84);
    border-right: 3px solid rgb(25, 135, 84);
    transition: 0.3s ease-in-out;
}

.name:hover::before {
    width: 100%;
    padding-left: 12px;
    filter: drop-shadow(0 0 25px rgb(25, 135, 84));
}

/* hero section css ends here */

/* section1 css starts here */

.section1 {
    margin-top: 350px;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.section1::before {
    content: "";
    position: absolute;
    background: url('../images/section1/online-shoppping-1.jpg') no-repeat center center/cover;
    width: 90%;
    height: 90vh;
    z-index: -1;
    border-radius: 20px;
    border: 3px solid black;
    margin-top: 100px !important;
    opacity: 0.9;
}

@media (max-width:550px) {
    .section1 {
        margin-top: 100px;
    }

    .csection1 {
        padding-top: 100px;
    }

    .section1::before {
        height: 50vh;
    }

    .section2 {
        margin-top: 170px !important;
    }

    /* section 3 css starts */

    .section3-text1,
    .section3-text2 {
        font-size: 20px !important;
    }

    /* section 3 css ends */
}


.csection1 {
    display: flex row;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    flex-wrap: wrap;
    transition: all 0.5 ease-in-out;
}

.glamorous {
    color: transparent !important;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    position: relative;
}


.glamorous::before {
    content: "Glamorous";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

.glamorous:hover::before {
    width: 100%;
    padding-left: 9px;
    filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}

.glam {
    color: transparent !important;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    position: relative;
}


.glam::before {
    content: "Glam";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

.glam:hover::before {
    width: 100%;
    padding-left: 9px;
    filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}

/* section1 css ends here */

/* section2 css starts here */

.section2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 450px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    padding: 10px 32px;
    margin-bottom: 20px;
}


.child-section2 {
    margin: 15px;
    width: 180px;
    text-align: center;
}

.child-section2:hover {
    color: rgb(25, 135, 84);
}

/* section2 css ends here */

/* section3 css starts here */

.section3-cards div {
    border: 1px solid black;
    border-radius: 12px;
}

.section3-cards div:hover {
    box-shadow: 40px 0 100px #008cff6b, -40px 0 100px #c840bf4f;
}

.section3-text1 {
    background-image: linear-gradient(43deg, #FFCC70 00%, #C840C0 46%, #4158D0 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 42px;
    font-weight: 700 !important;
}

/* section3 css ends here */

/* section4 css starts here */

.s4-cati-item {
    border: 1px solid rgb(255, 255, 255, 0.5);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50px !important;
}

.s4-cati-item:hover {
    background-color: rgba(164, 164, 164, 0.2);
    box-shadow: 40px 0 100px #008cff6b, -40px 0 100px #c840bf4f;
}

.s4-btn.active {
    background-color: rgba(164, 164, 164, 0.2) !important;
    color: rgb(25, 135, 84) !important;
}

.s4-all-card {
    border: 1px solid rgb(255, 255, 255, 0.4);
    width: 400px;
    border-radius: 10px;
}

.s4-all-card:hover {
    box-shadow: 40px 0 100px #008cff39, -40px 0 100px #c840bf38;
}

.s4-image {
    border-radius: 5px;
}

/* section4 css ends here */

/* section5 starts here */

.csection5 {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.right {
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-bottom: none;
    border-radius: 20px;
}

.s5-span {
    background-color: rgba(164, 164, 164, 0.2);
    border: 1px solid rgb(255, 255, 255, 0.4);
}

.s5-p {
    margin-bottom: 2rem !important;
}

.s5-input {
    width: 165px;
    border-radius: 50px !important;
    margin: -14px;
    background-color: transparent !important;
    color: white;
    font-size: 12px;
    border: none !important;
}


.s5-sub-btn {
    margin: -14px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background: linear-gradient(43deg, #FFCC70 00%, #C840C0 46%, #4158D0 100%);
}

.image-container {
    position: relative;
    overflow: hidden;
    /* Ensure that the blurred part doesn't overflow */
}

.image-container img {
    display: block;
    /* Remove bottom space */
    width: 100%;
    /* Make the image responsive */
    height: auto;
    /* Maintain aspect ratio */
}

.image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    /* Position at the bottom */
    left: 0;
    right: 0;
    height: 70%;
    /* Cover the bottom half */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    /* Adjust as needed */
    filter: blur(10px);
    /* Apply the blur */
    pointer-events: none;
    /* Allow interaction with the image */
}

@media screen and (max-width: 700px) {
    .s5-p {
        width: 340px !important;
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
    }

    .s5-h1 {
        text-align: center;
        font-size: 20px;
    }

    .s6-span1,
    .s6-span2 {
        font-size: 40px !important;
    }

    .s6-left img {
        width: 100px !important;
        height: 100px !important;
        margin-top: 10px !important;
    }
}

/* section5 ends here */

/* section 6 starts here */

.s6-span1,
.s6-span2 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.9);
}

.s6-span2 {
    color: black !important;
    -webkit-text-stroke: 2px rgb(129, 129, 214);
}

.s6-right span {
    font-weight: 700;
    color: rgb(255, 255, 255, 0.9);
}

.s6-right p {
    color: rgb(255, 255, 255, 0.7);
}

/* section 6 ends here */

/* section 7 starts here */

.s7-all-card {
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    width: 100%;
    /* or any specific width */
    height: 100%;
    /* or any specific height */
    overflow: hidden;
    /* Ensures no overflow */
    position: relative;
    /* For positioning if needed */
}

.s7-all-card:hover {
    box-shadow: 40px 0 100px #008cff39, -40px 0 100px #c840bf38;
}

.s7-all-card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Makes the image cover the entire div */
    display: block;
    /* Removes extra space below the image */
}

.s7-image {
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .s7-all-card {
        width: 360px !important;
        max-width: 360px !important;
        min-width: 360px !important;
    }
}

.s7-span {
    background-image: linear-gradient(43deg, #FFCC70 00%, #C840C0 46%, #4158D0 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

/* section 7 ends here */

/* section 9 starts here */

.s9-item {
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, rgb(129, 129, 129, 0.15) 50%, rgba(255, 0, 0, 0) 100%);
    /* Red background that fades to transparent */
    /* You can adjust the colors and height as needed */
    border-radius: 15px;
}

.s9-item i {
    background-image: linear-gradient(43deg, #FFCC70 00%, #C840C0 46%, #4158D0 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

/* section 9 ends here */